<section class="tag-index">
    <div class="name"><a>关于我</a></div>
    
    <h1>想摆脱现状，又不想努力的菜鸡一枚。</h1>
    <h3>2022目标：回归十年前的自我</h3>
    <li>
        1.制作一款游戏demo
    </li>
    <li>
        2.追一个女孩
    </li>
    
    <h3>看似平常，实则不平凡。</h3>
    与自己爱的女孩白头偕老。
    做自己喜欢做的事情。
    
    </section>