.archive{
padding-left: 15px;

	li{
		margin-left: 1em;
		font-size:15px;
		line-height: 1.6em;
		
		.title{
			color: #6E7173;
			text-decoration: none;
		}
	}
	
	.year{
		font: bold 25px / 1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
	}

	.post-date {
		display: inline-block;
		margin-right: 10px;
		color: #BABABA;
	}
	
	
}
