.post {
	.post-title{
		font-size: 25px;
		font-weight: bold;
	}
	.post-meta{
		margin-top: 13px;
	}
	.post-content{
		h1{
			font-size: 22px
		}
		h2{
			font-size: 20px
		}
		h2{
			font-size: 18px
		}
	}
	img{
		max-width:100%;
		margin-top:0.4em;
		margin-bottom:0.4em;
	}
	
	pre,
	.highlight {
		overflow: auto;
		margin: 20px 0;
		padding: 0;
		font-size: 13px;
		color: #4d4d4c;
		background: #f7f7f7;
		line-height: 1.6;
	}
	
	pre,
	code {
		font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
	}
	
	code {
		padding: 2px 4px;
		word-wrap: break-word;
		color: #555;
		background: #eee;
		border-radius: 3px;
		font-size: 13px;
	}
	
	pre {
		padding: 10px;
	}
	
	pre code {
		padding: 0;
		color: #4d4d4c;
		background: none;
		text-shadow: none;
	}
	
	.highlight {
		border-radius: 1px;
	}
	
	.highlight pre {
		border: none;
		margin: 0;
		padding: 10px 0;
	}
	
	.highlight table {
		margin: 0;
		width: auto;
		border: none;
	}
	
	.highlight td {
		border: none;
		padding: 0;
	}
	
	.highlight figcaption {
		font-size: 1em;
		color: #4d4d4c;
		line-height: 1em;
		margin-bottom: 1em;
	}
	
	.highlight figcaption:before,
	.highlight figcaption:after {
		content: " ";
		display: table;
	}
	
	.highlight figcaption:after {
		clear: both;
	}
	
	.highlight figcaption a {
		float: right;
		color: #4d4d4c;
	}
	
	.highlight figcaption a:hover {
		border-bottom-color: #4d4d4c;
	}
	
	.highlight .gutter pre {
		padding-left: 10px;
		padding-right: 10px;
		color: #869194;
		text-align: right;
		background-color: #eff2f3;
	}
	
	.highlight .code pre {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #f7f7f7;
	}
	
	.highlight .line {
		height: 20px;
	}
}


