.tag-index{
    padding-left: 15px;

    .name{
		font-size: 17px;
		font-weight: bold;
	}
    
    li{
    	margin-top: 1em;
		font-size:16px;
		line-height: 1.6em;
        list-style: none;

        .title{
			text-decoration: none;
			font-weight: bold;
		}
    }
    
}