<div class="row clearfix">
	<div class="col-md-2 column">
</div>
<div class="col-md-7 column text-center" >
	<div style="margin-top: 3.5em;margin-bottom: 2.1em;">
		<span >Powered by <b><a href="http://hexo.io">Hexo</a></b></span>
	</div>
</div>
<div class="col-md-3 column">
	</div>
</div>