

<div class="footer">
	<div class="tips">
        <p><span >Theme <b><a href="http://hexo.io" target="_blank">Guai</a></b></span></p>
        <p><span >Powered by <b><a href="http://hexo.io" target="_blank">Hexo</a></b></span></p>
    </div>
</div>